/* sass-lint:disable no-vendor-prefixes */

.#{$input-prefix} {
  display: block;
  width: 100%;
  padding: $input-padding-y $input-padding-x;
  height: $input-height;
  font-family: $input-font-family;
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width $inpit-border-style $input-border-color;
  border-radius: $input-border-raidus;
  box-shadow: $input-box-shadow;
  transition: $input-transition;

    @include media-breakpoint-down(xs) {
      font-size: 16px;
    }

    &::placeholder {
      color: $input-placeholder-color;
      opacity: 1;
    }

    &::-ms-expand {
      background-color: transparent;
      border: none;
    }

    &::-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 $input-color;
    }

    &:disabled,
    &[readonly] {
      background-color: $input-disabled-bg;
      opacity: 1;
    }

    @at-root select#{&} {
      appearance: none;
      padding-right: 30px;
      background: $input-bg $select-arrow no-repeat calc(100% - #{$select-arrow-space}) center;

        &:focus::-ms-value {
          color: $input-color;
          background-color: $input-bg;
        }
    }

    @at-root textarea#{&} {

        @include media-breakpoint-up(sm) {
          height: 196px;
        }

        @include media-breakpoint-down(xs) {
          height: 136px;
        }
    }

    &-checkbox {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;

        &:checked {

            + .field-checkbox-label::before {
              background: $primary url('#{$images-icons}checkmark.svg') center no-repeat;
            }
        }
    }

    &-radio {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;

        &:checked {

            + .field-radio-label::before {
              background: $primary;
            }
        }
    }

    &-checkbox-label {
      display: block;
      position: relative;
      padding-left: 30px;
      font-size: 14px;
      line-height: 20px;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          border: 1px solid $primary;
          background: $white;
          border-radius: 3px;
        }

        a {
          font-weight: $font-weight-bold;
          text-decoration: underline;
        }
    }

    &-radio-label {
      display: block;
      position: relative;
      padding-left: 30px;
      font-size: 14px;
      line-height: 16px;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 16px;
          height: 16px;
          border: 4px solid $white;
          background: $white;
          box-shadow: 0 0 0 1px $primary;
          border-radius: 50%;
        }

        a {
          font-weight: $font-weight-bold;
          text-decoration: underline;
        }
    }

    // &-icon {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   bottom: 0;
    //   width: 50px;
    //   height: 50px;
    //   z-index: 2;
    // }

    // &--icon {
    //   padding-left: 50px;
    // }

    &.invalid  {
      color: $danger;
      border-color: $danger;

        &::placeholder {
          color: $danger;
        }
    }
}
