// Tools
@import '../tools';

// Settings
@import '../settings';

// Components
@import '../components/comments';

.news {

    &__header {

        .tc-p {
          color: $white;
        }
    }

    &__meta,
    &__share {

        .news__header & {

            a {
              color: inherit;
            }

            img {
              filter: brightness(100);
            }
        }
    }

    &__cats {
      border: 1px solid $primary;

        > li {
          padding-top: 10px;
          text-align: center;
          color: $white;
          font-family: $headings-font-family;
          font-weight: map-get($headings-font-weights, h4);
          font-size: map-get($heading-desktop, h4);
        }

        ul {
          margin-top: 12px;
          padding: 20px;
          font-family: $font-family-base;
          font-size: $font-size-base;
          text-align: left;
          background: $white;

            li {
              display: flex;
              color: $primary;

                &:not(:last-child) {
                  margin-bottom: 25px;
                }

                a {
                  position: relative;
                  display: flex;
                  margin-right: auto;
                  padding-left: 20px;
                  flex-basis: 0;
                  flex-grow: 1;
                  max-width: 100%;

                    &::before {
                      content: '';
                      position: absolute;
                      top: 0;
                      left: 0;
                      bottom: 0;
                      margin: auto;
                      width: 8px;
                      height: 8px;
                      border-top: 2px solid $primary;
                      border-right: 2px solid $primary;
                      transform: rotate(45deg);
                    }

                    &::after {
                      content: '';
                      display: block;
                      flex-basis: 0;
                      flex-grow: 1;
                      max-width: 100%;
                      margin-right: 5px;
                      margin-left: 5px;
                      border-bottom: 1px dashed $primary;
                    }

                    &:hover {
                      color: inherit;
                    }
                }
            }
        }
    }

    &__comments {
      border-top: 1px solid $primary;
    }

    .price {
      font-size: 22px;

        del {
          font-size: 16px;
        }
    }
}
