.woocommerce-cart-form {
  margin: 30px 0;
}


.cart {
  width: 100%;
  border-collapse: collapse;

    @include media-breakpoint-up(md) {
      table-layout: fixed;
      font-size: 18px;
    }

    @include media-breakpoint-down(sm) {
      min-width: 450px;
      font-size: 16px;
    }

    th,
    td {
      text-align: center;

        @include media-breakpoint-up(lg) {
          padding: 15px;
        }

        @include media-breakpoint-down(md) {
          padding: 15px 8px;
        }

        &:first-child {
          text-align: left;

            @include media-breakpoint-up(lg) {
              width: 50%;
            }

            @include media-breakpoint-down(md) {
              width: 40%;
            }
        }

        &:last-child {
          width: 50px;
        }
    }

    th {
      color: $white;
      background: $primary;
      border-color: $white;
      white-space: nowrap;
      text-transform: uppercase;

        &:first-child {
          @include border-left-radius(6px);
        }

        &:last-child {
          @include border-right-radius(6px);
        }
    }

    img {
      border-radius: 3px;
    }

    tbody {

        tr {

            &:nth-child(odd) {

                td {
                  background: $light;

                    &:first-child {
                      @include border-left-radius(6px);
                    }

                    &:last-child {
                      @include border-right-radius(6px);
                    }
                }
            }
        }
    }
}

.product-subtotal {
  font-size: 20px;
  font-weight: bold;
}

.quantity {
  margin: 0 auto;

    @include media-breakpoint-up(sm) {
      width: 140px;
    }

    label {
      display: none;
    }
}

.qty {

    @include media-breakpoint-down(xs) {
      width: 50px;
      padding: 0;
    }
}

@include media-breakpoint-down(xs) {

    .qty-btn {
      display: none;
    }
}

.cart-actions {

    .btn {

        @include media-breakpoint-up(sm) {

            &:not(:last-child) {
              margin-right: 10px;
            }
        }

        @include media-breakpoint-down(xs) {

          &:not(:last-child) {
            margin-bottom: 10px;
          }
      }
    }
}

.cart_totals {

    @include media-breakpoint-up(sm) {
      margin-top: 50px;
    }

    @include media-breakpoint-down(xs) {
      margin-top: 30px;
    }
}

.cart_total,
.woocommerce-checkout-review-order-table {
  max-width: 100%;

    th,
    td {
      padding: 15px;
      background: $light;
      border-bottom: 1px solid $body-bg;
    }

    th {
      text-transform: uppercase;
      border-right: 1px solid $body-bg;
    }

    .amount {
      font-size: 20px;
    }
}

.woocommerce-shipping-methods {

    li {

        &:not(:last-child) {
          margin-bottom: 15px;
        }
    }
}
