.s-f {

    @include media-breakpoint-up(md) {
      top: 46px;
      left: 0;
      right: 0;
      z-index: 10;

        .search-open & {
          display: block;
        }

        .sh--tr & {
          position: absolute;
        }
    }

    &__btn {
      top: 0;
      right: 0;
      height: $input-height;

        &:hover {

            path {
              fill: $secondary;
            }
        }
    }
}
