// Tools
@import '../tools';

// Settings
@import '../settings';

@import 'tabs';

.cats {

    .swiper-slide {
      width: auto;
    }

    a {

        @include media-breakpoint-up(md) {

            &:hover {
              color: $white;
              background: $primary;
              text-decoration: none;
            }
        }

        &.active {
          color: $white;
          background: $primary;
          text-decoration: none;
        }
    }
}
