// Tools
@import '../tools';

// Settings
@import '../settings';

.faq {
  border: 1px solid transparent;

  &:hover,
  &.active {
    border-color: $dark;
  }

  &__q {
    min-height: 55px;
    font-size: 18px;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 20px;
        bottom: 0;
        margin: auto;
        width: 20px;
        height: 20px;
      }

      &::before {
        background: url('#{$images-icons}faq-less.svg');
      }

      &::after {
        background: url('#{$images-icons}faq-more.svg');
      }

      &.active {

          &::after {
            opacity: 0;
          }
      }
  }

  &__a {
    display: none;

      .active & {
        display: block;
      }
  }
}
