// Tools
@import '../tools';

// Settings
@import '../settings';

.sf {

    @include media-breakpoint-up(md) {
      padding-top: 64px;
    }

    a {
      color: inherit;
    }

    &__logo {

        @include media-breakpoint-down(xs) {
          max-width: 70px;
        }
    }

    &__title {
      font-family: $headings-font-family;
      line-height: 1;
    }

    &__menu {

        li:not(:last-child) {
          margin-bottom: 12px;
        }

        a {
          position: relative;
          display: inline-block;
          padding-left: 25px;

            &::before,
            &::after {
              content: '';
              position: absolute;
            }

            &::before {
              top: 6px;
              left: 0;
              width: 12px;
              height: 1px;
              background: $white;
            }

            &::after {
              top: 3px;
              left: 5px;
              width: 7px;
              height: 7px;
              border-top: 1px solid $white;
              border-right: 1px solid $white;
              transform: rotate(45deg);
            }
        }
    }

    &__socials {

        a {

            &:not(:last-child) {
              margin-right: 20px;
            }
        }
    }
}
