@use 'sass:math';

// Tools
@import '../tools';

// Settings
@import '../settings';


.hh {

    @include media-breakpoint-up(md) {
      height: 760px;
    }

    @include media-breakpoint-only(sm) {
      height: 430px;
    }

    .h2 {
      line-height: math.div(70, 40);
    }


    &__cnt {
      max-width: 1030px;
      background: rgba($black, .5);
    }
}
