// Tools
@import '../tools';

// Settings
@import '../settings';

.ln {

    &__item {

        @include media-breakpoint-down(sm) {
          max-width: 620px;
        }
    }

    &__video {

        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: rgba($black, .5) url('#{$images-icons}play.svg') center no-repeat;
        }

        &:hover::after {
          background-image: url('#{$images-icons}play-hover.svg');
        }
    }
}


.pagination {

    > span,
    > a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 6px;
      border: 1px solid transparent;

        &:not(:last-child) {
          margin-right: 10px;
        }
    }

    > a {

        &:hover {
          border-color: $primary;
          text-decoration: none;
        }
    }

    .current {
      color: $white;
      background: $primary;
    }
}
