// Tools
@import '../tools';

// Settings
@import '../settings';

// Components
@import '../components/comments';
@import 'woocommerce';

.product {

    &__header {

        .price {

            @include media-breakpoint-up(sm) {
              font-size: 36px;

                del {

                    .amount {
                      font-size: 24px;
                    }
                }
            }

            @include media-breakpoint-down(xs) {
              font-size: 30px;

                del {

                    .amount {
                      font-size: 20px;
                    }
                }
            }
        }

        .added_to_cart {
          display: none;
        }
    }

    &__titles {

        .container > & {

            @include media-breakpoint-up(md) {
              display: none;
            }
        }

        .col-u-md-6 > & {

            @include media-breakpoint-down(sm) {
              display: none;
            }
        }
    }

    &__short-desc {

        ul {
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;

            &:not(:last-child) {
              margin-bottom: 0;
            }

            li {
              margin-bottom: 15px;

                &:not(:last-child) {
                  margin-right: 15px;
                }
            }
        }
    }

    &__nutrition {

        @include media-breakpoint-up(sm) {
          width: 340px;
        }

        &__table {

            th,
            td {
              padding-top: 12px;
              padding-bottom: 12px;
            }

            th {
              font-family: $headings-font-family;

                &:not(:last-child) {
                  border-right: 1px solid $white;
                }
            }

            td {
              border: 1px solid $primary;
            }
        }
    }

    &__average {

        @include media-breakpoint-up(sm) {
          font-size: 56px;
        }

        @include media-breakpoint-down(xs) {
          font-size: 36px;
        }
    }

    &__average-stars {

        img {

            @include media-breakpoint-up(sm) {
              width: 50px;
            }

            @include media-breakpoint-down(xs) {
              width: 38px;
            }

            &:not(:last-child) {
              margin-right: 17px;
            }
        }
    }

    &__comments {
      max-width: 960px;
    }

    &__review {

        &__stars {

            img {
              width: 20px;
            }
        }
    }
}

.woocommerce-variation-price {

    .price {
      padding-bottom: 15px;
    }
}

.comment-form-rating {
  text-align: center;

    label {
      display: block;
      margin-bottom: 30px;
      text-transform: uppercase;
      font-size: 18px;
      color: $primary;
      font-family: $headings-font-family;
    }

    .required {
      display: none;
    }
}

.comment-form-star {
  font-size: 0;
  background: url('#{$images-icons}star-on.svg') no-repeat left center / contain;

    @include media-breakpoint-up(sm) {
      width: 65px;
      height: 50px;
    }

    @include media-breakpoint-down(xs) {
      width: 53px;
      height: 38px;
    }

    &:not(:last-child) {
      padding-right: 15px;
    }

    &:hover ~ &,
    .comment-form-stars &.selected ~ & {
      background-image: url('#{$images-icons}star-off.svg');
    }
}
