// Tools
@import '../tools';

// Settings
@import '../settings';

.tp {

    &__nav {

        @include media-breakpoint-up(md) {
          margin: -70px 0;
        }

        @include media-breakpoint-only(sm) {
          margin: -58px 0;
        }

        .swiper-slide {
          width: auto;
        }
    }

    &__btn {

        &.active,
        &:hover {
          color: $white;
          background: $primary;

            img {
              filter: brightness(100);
            }
        }

        &__icn {

            @include media-breakpoint-up(md) {
              height: 40px;
            }

            @include media-breakpoint-down(sm) {
              height: 30px;
            }

            img {
              width: auto;
              max-height: 100%;
            }
        }
    }

    .js-loader {
      margin-bottom: 30px;
    }
}
