<app-page-header></app-page-header>
<div class="container">
  <div class="row jc-c">
    <div class="col-u-sm-6 py-40">
      <h1 class="h2 mb-20 ta-c tc-b">Sign Up</h1>
      <p class="mb-15 ta-c fs-12">All fields marked with * are required</p>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="mb-20">
          <label for="username" class="d-b tt-u fw-b fs-12 mb-10 tc-p">E-mail address <span class="required tc-r">*</span></label>
          <input
            id="username"
            type="text"
            class="field"
            [class.invalid]="(f.username?.touched && f.username?.errors?.required || f.username?.errors?.email) || (!f.username?.touched && formValid)"
            formControlName="username"
            autocomplete="off"
            placeholder="E-mail address"
          >

          <ng-container *ngIf="f.username?.touched || formValid">
            <p class="mt-10 tc-r" *ngIf="f.username?.errors?.required">Please provide a username.</p>
            <p class="mt-10 tc-r" *ngIf="f.username?.errors?.email">Please enter valid e-mail address.</p>
          </ng-container>
        </div>

        <div class="mb-20">
          <label for="password" class="d-b tt-u fw-b fs-12 mb-10 tc-p">Password<span class="required tc-r">*</span></label>
          <input
            id="password"
            type="password"
            class="field"
            formControlName="password"
            [class.invalid]="(f.password?.touched && f.password?.errors?.required || !!f.password?.errors?.minlength) || (!f.password?.touched && formValid)"
            autocomplete="off"
            placeholder="Password"
          >

          <ng-container *ngIf="f.password?.touched || formValid">
            <p class="mt-10 tc-r" *ngIf="f.password?.errors?.required">Please provide a password.</p>
            <p class="mt-10 tc-r" *ngIf="f.password?.errors?.minlength"> Password must be at least 6 characters long</p>
          </ng-container>
        </div>

        <div class="mb-20">
          <label for="confirmPassword" class="d-b tt-u fw-b fs-12 mb-10 tc-p">Confirm Password<span class="required tc-r">*</span></label>
          <input
            id="confirmPassword"
            type="password"
            class="field"
            formControlName="confirmPassword"
            [class.invalid]="(f.confirmPassword?.touched && f.confirmPassword?.errors?.confirmPasswords)"
            autocomplete="off"
            placeholder="Confirm Password"
          >

          <ng-container *ngIf="f.confirmPassword?.touched">
            <p class="mt-10 tc-r" *ngIf="f.confirmPassword?.errors?.confirmPasswords">The passwords do not match.</p>
          </ng-container>
        </div>

        <div class="mb-20">
          <label for="firstname" class="d-b tt-u fw-b fs-12 mb-10 tc-p">First Name<span class="required tc-r">*</span></label>
          <input
            id="firstname"
            type="firstname"
            class="field"
            formControlName="firstname"
            [class.invalid]="(f.firstname?.touched && f.firstname?.errors?.required) || (!f.firstname?.touched && formValid)"
            autocomplete="off"
            placeholder="First Name"
          >

          <p class="mt-10 tc-r" *ngIf="(f.firstname?.touched && f.firstname?.errors?.required) || formValid">Please provide a firstname.</p>
        </div>


        <div class="mb-20">
          <label for="lastname" class="d-b tt-u fw-b fs-12 mb-10 tc-p">Last name<span class="required tc-r">*</span></label>
          <input
            id="lastname"
            type="lastname"
            class="field"
            formControlName="lastname"
            [class.invalid]="(f.lastname?.touched && f.lastname?.errors?.required) || (!f.lastname?.touched && formValid)"
            autocomplete="off"
            placeholder="Last Name"
          >

          <p class="mt-10 tc-r" *ngIf="(f.lastname?.touched && f.lastname?.errors?.required) || formValid">Please provide a lastname.</p>
        </div>

        <p class="mb-20 ta-c">Already have an account? <a [routerLink]="['/auth/login']" class="tc-p fw-b">Log In</a></p>

        <app-message [message]="message"></app-message>

        <button type="submit" class="btn btn--s tc-w w-100">Sign Up</button>
      </form>
    </div>
  </div>
</div>
