// Tools
@import '../../../../assets/styles/tools';

// Settings
@import '../../../../assets/styles/settings';

.comment {

  .comment {

      @include media-breakpoint-up(sm) {
        padding-left: 110px;
      }

      @include media-breakpoint-down(xs) {
        padding-left: 30px;
      }
  }

  &__abbr {

      @include media-breakpoint-up(sm) {
        width: 80px;
        height: 80px;
        font-size: 40px;
      }

      @include media-breakpoint-down(xs) {
        width: 40px;
        height: 40px;
        font-size: 22px;
      }
  }
}

.comment-notes {
  margin-bottom: 20px;
}
