<app-page-header [title]="'About Us'"></app-page-header>


<div class="tb my-50 ta-c">
  <div class="container">
    <div class="row-u-sm row-u-sm-6 ai-u-sm-c">
      <div class="col wp-editor">
        <p><img src="../../../../assets/images/backgrounds/about-img-1.jpg" alt=""></p>
      </div>
      <div class="col wp-editor">
        <h3 class="tc-p">Who We Are?</h3>
        <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
        <p></p>
        <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
        <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
        <p></p>
        <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
      </div>
    </div>
  </div>
</div>
