<app-loader *ngIf="!(car$| async)?._id"></app-loader>

<article *ngIf="(car$ | async)?._id">
  <header class="mb-50 pt-u-md-100 pt-o-sm-80 pt-o-xs-30 pb-u-md-50 pb-d-sm-30 bg-l">
    <div class="container">
      <div class="row">
        <div class="col-u-sm-6">
          <figure *ngIf="(car$ | async)?.pawPrintPicture">
            <img src="{{(car$ | async)?.pawPrintPicture}}" alt="{{(car$ | async)?.brand}} {{(car$ | async)?.model}}">
          </figure>
        </div>
        <div class="col-u-sm-6">
          <h1 class="h2 tc-p mb-u-sm-15 mb-o-xs-5">Review: {{(car$ | async)?.brand}} {{(car$ | async)?.model}} {{(car$ | async)?.year}}</h1>

          <div class="d-f ai-c mb-20">
            <app-rating [rating]="(car$ | async)?.rating"></app-rating>
            <p class="fs-18 fw-b tc-p">{{(car$ | async)?.rating}} / 5</p>
          </div>

          <p class="mb-10 fs-18 fw-b">Make: {{(car$ | async)?.brand}}</p>
          <p class="mb-10 fs-18 fw-b">Model: {{(car$ | async)?.model}}</p>
          <p class="mb-10 fs-18 fw-b">Year: {{(car$ | async)?.year}}</p>

          <div class="mt-20 wp-editor" [innerHTML]="(car$ | async)?.content"></div>

          <div *ngIf="isAdmin$ | async" class="d-f mt-15">
            <a href="#" class="btn btn--s tc-w mr-10">Edit</a>
            <button *ngIf="(car$ | async) as car" (click)="deleteCar(car._id)" class="btn btn--r tc-w">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </header>

  <app-list-comments [comments]="(car$ | async)?.comments" [postId]="(car$ | async)?._id"></app-list-comments>
</article>
