// Tools
@import '../../../../assets/styles/tools';

// Settings
@import '../../../../assets/styles/settings';

.product {

    &__average {

        @include media-breakpoint-up(sm) {
          font-size: 56px;
        }

        @include media-breakpoint-down(xs) {
          font-size: 36px;
        }
    }

    &__average-stars {

        img {

            @include media-breakpoint-up(sm) {
              width: 50px;
            }

            @include media-breakpoint-down(xs) {
              width: 38px;
            }

            &:not(:last-child) {
              margin-right: 17px;
            }
        }
    }

    &__comments {
      max-width: 960px;
    }

    &__review {

        &__stars {

            img {
              width: 20px;
            }
        }
    }
}
