<header class="ph pt-80 pb-u-sm-80 pb-o-xs-30 d-u-sm-f ai-u-sm-c ai-u-sm-jc ps-r ta-c tc-w">
  <figure class="bg ps-a w-100 h-100 of-h zi-n1">
    <img src="../../../../assets/images/backgrounds/top-img.jpg" alt="mezeta bg" class="bg__img">
  </figure>

  <div class="container">
    <h1 class="tc-w">Car Reviews APP</h1>
    <div class="wp-editor mx-u-sm-a mt-15"><p>From its medieval origins to the digital era, learn everything there is to know about the ubiquitous lorem ipsum passage.</p></div>
  </div>
</header>
