//
// Buttons
//
$btn-prefix: 'btn';
$btn-height: 50px;
$btn-padding-y: 0;
$btn-padding-x: 14px;
$btn-font-size-desktop: 20px;
$btn-font-size-mobile: 20px;
$btn-line-height: null;
$btn-border-radius: 6px;

$btn-font-family: null;
$btn-font-weight: $font-weight-bold;
$btn-color: $link-color;
$btn-hover-color: $link-hover-color;
$btn-decoration: if($link-decoration == none, null, none);
$btn-hover-decoration: none;
$btn-white-space: nowrap;
$btn-border-width: 2px; // 1px
$btn-border-style: solid; // Solid
$btn-border-color: transparent; // transparent

$btn-transition: color 250ms ease-in-out, background 250ms ease-in-out;

$btn-disabled-opacity: .5;

$btn-colors: map-merge((
  'm': #92959f,
  'w': $white,
  'b': $black
), $theme-colors);

$btn-hover-colors: map-merge((
  'm': #232222,
  'w': darken($white, 10%),
  'b': $black
), $theme-hover-colors);
