//
// Fonts
//
$fonts-path: '../../fonts/';

// @font-face {
//   font-family: 'Source Sans Pro';
//   src: url('#{$fonts-path}SourceSansPro-BoldItalic.woff2') format('woff2');
//   font-weight: bold;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Source Sans Pro';
//   src: url('#{$fonts-path}SourceSansPro-Regular.woff2') format('woff2');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Source Sans Pro';
//   src: url('#{$fonts-path}SourceSansPro-Italic.woff2') format('woff2');
//   font-weight: normal;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Source Sans Pro';
//   src: url('#{$fonts-path}SourceSansPro-Bold.woff2') format('woff2');
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Lora';
//   src: url('#{$fonts-path}Lora-BoldItalic.woff2') format('woff2');
//   font-weight: bold;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Lora';
//   src: url('#{$fonts-path}Lora-Bold.woff2') format('woff2');
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: 'Calligraph';
  src: url('#{$fonts-path}calligraph.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
